/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cs-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: fit-content(100%) auto fit-content(100%);
  grid-template-areas:
    "sd sd hd hd hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main main main main main"
    "sd sd ft ft ft ft ft ft ft ft ft ft";
}

@media (max-width: 768px) {
  .cs-grid {
    grid-template-areas:
      "hd hd hd hd hd hd hd hd hd hd hd hd"
      "main main main main main main main main main main main main"
      "ft ft ft ft ft ft ft ft ft ft ft ft";
  }
}

header {
  grid-area: hd;
  /* background-color: red */
}

aside {
  grid-area: sd;
  /* background-color: violet */
}
main {
  grid-area: main;
  /* background-color: green */
}

footer {
  grid-area: ft;
  /* background-color: yellow */
}
